/* General styles */
body {
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* Navigation */
nav {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}

nav a {
    color: #00fff7;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1rem;
    text-transform: lowercase;
}

nav a:hover {
    text-decoration: underline;
}

h4 a {
    color: #00fff7;
    font-size: 2rem;
    margin-right: 1rem;
    transition: color 0.3s;
}

h4 a:hover {
    color: #ffffff;
}

/* Main content */
header h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #00fff7;
    color: #00fff7;
    animation: glow 2s;
}

.content h2, .content h3 {
    color: #00fff7
}

.content h4 {
    color: #00fff7;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 2.5rem;
}

.description{
    border: 1px solid #00fff7;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

.intro {
    text-align: center;
}

.projects h2 {
    background-color: #00fff7;
    color: #000000;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top: 0; /* Adjusted to reduce spacing */
    margin-bottom: 1rem;
}

.project {
    margin-bottom: 1rem;
}

.project-link {
    color: #007dff;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
    display: inline-block;
    text-decoration: underline;
}

.project-link:hover {
    color: #ffffff;
}

.education h2, .experiences h2, .skills h2 {
    color:#00fff7
}

.resume-content section h2 {
    font-size: 1.5rem; /* Adjust as needed */
    margin-top: 1rem; /* Reduce margin */
    margin-bottom: 0.5rem; /* Reduce margin */
    line-height: 1.2; /* Adjust line height */
}

.resume-content .entry h3 {
    font-size: 1.2rem; /* Adjust as needed */
    margin-bottom: 0.5rem; /* Reduce margin */
    line-height: 1.2; /* Adjust line height */
}

.resume-content .entry-content {
    margin-bottom: 0.5rem; /* Reduce margin */
    line-height: 1.5; /* Adjust line height */
}

.resume-content .entry-content p {
    margin: 0.2rem 0; /* Reduce margin */
    line-height: 1.3; /* Adjust line height for paragraphs */
}

.resume-content .entry-content ul {
    padding-left: 1.2rem; /* Adjust padding */
}

.resume-content .entry-content li {
    margin-bottom: 0.2rem; /* Reduce margin */
    line-height: 1.5; /* Maintain line height for list items */
}

.resume-content .entry-date {
    font-size: 1rem; /* Adjust as needed */
    margin-top: -0.5rem; /* Adjust margin */
    text-align: right;
    line-height: 1.2; /* Adjust line height */
}

.resume-content .skills ul {
    padding-left: 1.2rem; /* Adjust padding */
}

.resume-content .skills li {
    margin-bottom: 0.2rem; /* Reduce margin */
    line-height: 1.5; /* Maintain line height for list items */
}



/* Highlighting */
.highlight {
    color: #ffffff;
}

.copyright{
    text-align: center;
    margin-top: 5rem;
}

.active {
    text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

/* Animations */
@keyframes glow {
    0% { text-shadow: 0 0 5px #00fff7; }
    50% { text-shadow: 0 0 20px #00fff7, 0 0 30px #00fff7; }
    100% { text-shadow: 0 0 5px #00fff7; }
}
